<nav>

    <ul>
        <div><li><a href="/">Home</a></li></div>
        <div><li><a href="/beers">Beers</a></li></div>
        <div><li><a href="/random-beer">Random Beer</a></li></div>
    </ul>

</nav>
